<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testfunctionprh20211129091040.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7440f141-afc3-496b-b1fd-0b007c1261e4/resourcegroups/team-lakitu_Persistent_Resources/providers/Microsoft.Web/sites/testfunctionprh20211129091040</ResourceId>
    <UserName>$testfunctionprh20211129091040</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://testfunctionprh20211129091040.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>